/node_modules
/public/hot
/public/storage
/public/flatlite
/storage/*.key
/vendor
/.idea
/.vagrant

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/resources/img
/resources/assets/plugins
